.holder {
	margin: 25px 0;
    text-align: center;
}

.holder a {
	cursor: pointer;
	color: #a2a2a2;
	font-size: 14px;
	margin: 0 10px;
}

.holder a:hover {
	color: #737373;
}

.holder a.jp-previous { margin-right: 15px; }
.holder a.jp-next { margin-left: 15px; }

.holder a.jp-current, a.jp-current:hover { 
	color: #3085c7;
	font-weight: bold;
}

.holder a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}

.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
	background: none;
}

.holder span { margin: 0 5px; }

