@media only screen and (max-width: 1050px){
.review_right{width:auto;}
.review_right div{width:500px;}
.fadeout {background:#E0E0E0;box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.5);width: auto;}
table{margin:0 auto;}
td{display:block;}
.ui-datepicker-calendar td{display:table-cell;}
.srch_rslt_left .verified_wrp.srch_rslt_vrfy{display:inline;}
/*.srch_rslt_left .verified_wrp.srch_rslt_vrfy .vry_logo{float:left;}*/
.srch_rslt_left .verified_wrp.srch_rslt_vrfy .compny_name h2{font-size:25px;}
.srch_rslt_left .verified_wrp.srch_rslt_vrfy .compny_name{margin-bottom:5px;margin-top:5px;float:left;width:auto;}
.review-slider, .review-slider-right{float:none;width:100%;}
.review-slider-right{display: none;}
#frmcomment > label {float:left;clear:both;}
.rate-company{float:left;}
.reg-row .form_left,.container .form_left{width: auto;clear:both;}
.reg-row .form-circle{margin-left:0;}
.reg-row .form_left > label { bottom: 20px; left: 65px; position: relative;width:auto;}
.transaction .form_left .reg_txt_box{clear: both;display: block;}
.coupon_star{width:127px !important; float:none !important;margin:0 auto;}
.coupon_detail{width:160px !important; float:none !important;margin:0 auto;}
#coupon_share .addthis-animated{margin:0 auto !important;}

.coupons .bsntvry_title{float:none;}
.coupons .bsnntverified { clear: both;display: block;float: none;margin: 0 auto;}
.coupons .bsntg { float:none;padding:0;}
.coupons .bsvry_tag p{text-align: center;}
} 
@media only screen and (max-width: 771px){
.text-content{top:0.5em;font-size:1.5em;}
#frmcomment .txrareawrp{width:auto;float:left;}
.reg-row .form_left{width: auto;}
.reg-row .form-circle{margin-left:0;}
.compny_name h1{float:none;}
} 
@media only screen and (max-width: 771px){
.coupon_wrap .revw_blck_cnt h2 {width:100%;text-align:left;}
.text-content{top:0.5em;font-size:1.5em;}

.headerusername{
	display: none;
}
.vryrating{
  width: 127px;
  float: none;
  margin: 0 auto !important;
}
.reviewbtn a{float:left !important;}
.vry_btn a{
	background:none;color:#000;text-decoration:underline;float:none;
}
.compbtn a{ float:left !important;}
.vry_btn a:hover { background:none;}
span.stars{
 margin:auto;
}
.leftpanelwidth {   
	width:100%;
    text-align: center;
}
.rightpanelwidth {
    width: 100%;
}
.getdir_title label
{
	display: inline-block;
}
.social_blck{
	float:none;
	display:inline-block;
}

}
@media only screen and (min-width: 771px) and (max-width: 1050px){
.revw_blck .revw_blck_cnt .revw_ratpoint .cmnt_block{ clear: both;float: left;left: 25%;position: relative;}
.compli_detail .compny_name{text-align:center;padding-left: 10px;}
.compli_detail .compny_name .vry_btn{margin:0 auto;}
.presscontact li, .presscontact li a, .presscontact li span{float:none;}

.left_panel .business-img a img{width:100%;}
/*.verified_wrp .compny_name{width:80% !important;}
.verified_wrp .compny_name > h1 {text-align: left !important;}
.verified_wrp .vry_logo {float: left !important;}*/
.coupon_dscrwrp .coupon_dscr{width:auto;}
.menu ul{ margin:0 auto;width:677px;}
.dis_width .company{padding-top:0;}
.review-slider ul{width:94%;padding:0 0 0 20px;}
.bannertextcoupon{font-size:53px !important;}
.hm_rght_panel {margin-left:0;}
.main_contentarea .container{padding:0;width:100%;display: block; }
.head_bg {float: none;height: 80px; margin-top: 10px; width: auto;}
.menu li{margin-right: 15px;}
.main_contentarea{width:100%;display: block;}
#first.footer_block, .main_footer, .container,.headersearch{width:92%;}
.footer_block ul{display: inline-block;float:none;vertical-align:top;margin-bottom: 15px;}
.foot_last_bar,.foot_mid_bar{padding:0 !important;	}
.foot_title_bar{margin-left:0;}
.forbusiness_footer{padding:0 !important;width:214px !important;}
.footerbottomlink a, .footerbottomlink span{display: inline-block;}
#first.footer_block {margin-left:8em;}
.ft_cat_wrp .innr_wrap{width:92%;padding:0 20px;}
.main_contentarea .innr_wrap{width:92%;padding:0;}
.revw_occupt{width:98%;}
.revw_blck_cnt{width:83%;float:right;}
.reviewnotverifiedlogo, .reviewverifiedlogo{position: relative;right: 15px;}
.revw_blck_img{margin-right:0;}
.revw_ratpoint span a{font-size:12px;}
.revw_ratpoint span a{padding:0 4px;}
.pagination{width:100%;}
.revw_blck_cnt h2{font-size:25px;}
.login_box{width:auto;}
.tablecompliant{margin-left:30px;}
.usercomment {margin-left: 155px !important;}
.regr_lnk,.reg_frm_wrap{float:none;width:100%;margin:0 auto;}
.reg_txt_box{width:275px;}

.banner_wrp{float:none;width:100%;margin:0 auto;}

.pr_rwrp,.verified_wrp{float:none;display:inline-block;text-align:center;margin:0 auto;}
.pr_detlwrp{width:82%;margin:0 auto; display: block;float:none;}
.pr_testmnl_wrp,.addcmnt_wrp,.testmnl_clntwrp,.titl_pr_rel,.pr_rwrp{width:100%;}
.compny_name{width:100%;margin-bottom:1em;}
.serch_result .vry_btn{clear:left;}
.vry_btn{margin:0 auto;}
.serch_result .vry_logo{float:left;}
.vry_logo{float:none;width:auto;}
.testmnl_p{margin:0;}
.txrareawrp{width:82%;}

.serch_result h1{width:auto;}
.verified_wrp.srch_rslt_vrfy.vfy_rvw > div{display:inline-block;}
.cpyynme{margin-bottom:0 !important;}
.verified_wrp.srch_rslt_vrfy .compny_name h2{text-align:left;}
.verified_wrp.srch_rslt_vrfy{width:130px;}

.revw_occupt span a{max-width:550px !important;display:block;}
.p_realese_head{width:auto;}

#frmcompany {margin:0;}
.reg_frm{float:none;width:82%;margin:0 auto;}
.reg-row:first-child{display: inline-block;}
.form-col-2{ }
#streetaddress,#city,#country1,#state1,#zip{width:275px;}
.form-col-2 label{font-size:25px;}
.business-callout{	
	clear: both;
    float: left;
    margin-bottom: 1em;
    margin-top: 1em !important;
}

.banner_wrp{height:auto;}
.banner_wrp img {display: block; height: auto; margin: 0 auto; width: 100% !important;}
.new_usr a{font-size:20px;}
.new_usr{font-size:25px;}

#selstatediv1,#selstatediv{ float: none;
  margin-left: 0;
  display: inline-block;
}
#streetaddress1{width:238px;}

.headersearchbar{width:400px;}
.flexslider .headersearch .formBox, .innr_wrap .headersearch .formBox{width:405px !important; margin:0 auto !important;}
}
@media only screen and (min-width: 771px) {
.addbanner{padding-top:0;}
.no_addbanner{padding-top:8.5em;}
.footer-col {display: inline;}
.fmenu {display: block !important;}
.noscroll-head{position:fixed;z-index:10000;background: none repeat scroll 0 0 #fff;border-bottom:1px solid rgba(0, 0, 0, 0.25);}
.addvert{padding-top: 8.5em;}
}
@media only screen and (min-width: 850px) and (max-width: 1050px)  {
.main_footer, .innr_wrap, .container{width:82%;padding:0 20px; }
.headersearch{width:82%;}
}

@media only screen and (min-width: 310px) and (max-width: 400px){
.container{padding:0 7px !important; }
.ft_cat_wrp .container, .main_footer, .innr_wrap{padding:0 !important;}

}

@media only screen and (min-width: 310px) and (max-width: 770px)  {
.presscontact li, .presscontact li a, .presscontact li span{float:none;}
#atstbx{ width:100%;margin:0 auto;}

.cmnt_blckwrp{margin-top:20px;}
.cmnt_blckwrp{background: #E0E0E0;border:none;padding: 10px;
  width: 95%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.5);}

#custom-share1{ display:block !important;float:left;margin:2px; }
#custom-share1 .addthis_button_facebook_like{ height: 20px;position: relative;}
#custom-share,.custom-countwrp{ display:none;}
.testmnl_cln,.clnt_intr{ float:left;}
.clnt_intr{ text-align:left;}
.clnt_name a{ margin-bottom:0px !important; }
.clnt_intr div{ float:left;clear:left;}
.clnt_intr .clnt_name{clear:none;}
.clnt_name span{float:left;}
.clnt_intr .clnt_pic.photo{float:right;}
.custom-countwrp1{ display:block !important;margin-bottom:10px;}
.custom-countwrp1 ul li{margin-bottom:10px;}

.addthis_default_style .addthis_separator, .addthis_default_style .at300b, .addthis_default_style .at4-icon, .addthis_default_style .at300bo, .addthis_default_style .at300m, .addthis_default_style .at300bs, .addthis_default_style .addthis_counter{float:none !important;}
.addthis_native_toolbox a{margin-bottom:0 !important;}
.addthis_button_pinterest_pinit {height: 20px !important;overflow: hidden !important;}


.reg-row .reg_fld{margin-bottom:10px;line-height:17px;}

.verified_wrp .bsntvry_title{float:none;height:auto;}
.verified_wrp .bsnntverified, .verified_wrp .bsntg{float:none;}
.verified_wrp .bsvry_tag.bsntg > p{text-align:center;}
.verified_wrp .vry_btn {float:none;clear:both;}
.verified_wrp.srch_rslt_vrfy .vry_btn{clear:none;}
.verified_wrp.srch_rslt_vrfy .vry_btn a , .verified_wrp.srch_rslt_vrfy .vry_btn,.verified_wrp .compny_name .vry_rating{ float:left;}
.coupon_dscrwrp .coupon_dscr{width:auto;}
.verified_wrp .write-file{ width:160px;}
.verified_wrp .write-file a{float:left;}
.main_contentarea{width:100%;display: block;}
.head_bg{width:auto;float:none !important;text-align:center; clear:both;}
.main_footer, .container{width:auto;padding:0 20px; }
.menu {display: none;}
.yougot_logo{margin:0 auto;float:none;}
.yougot_logo img{width:190px;}
.yougot_logo a{float:none;}
.head_right_lnk, .head_right{text-align: center;float:none;display: inline-block;}
.headerbusiness, .headerlogin, .headersignup{float:none;display: inline-block;}
/*.review_right div{width:auto;}*/
.hm_rght_panel{margin-left:0;}
.main_contentarea .container{padding:0 !important;}
.main_contentarea .innr_wrap{width:auto;padding:0;}
.dir_rew_wrap {margin-top:10px;}
.login_box{width:auto;}

.ft_cat_wrp .container{padding:0;}
#first.footer_block, .main_footer, .container{width:auto;padding:0 20px; }
.footer_block ul{display: inline-block;float:none;vertical-align:top;margin-bottom: 15px;}
.foot_last_bar,.foot_mid_bar{padding:0 !important;	}
.foot_title_bar{margin-left:0;}
.forbusiness_footer{padding:0 !important;width:214px !important;}

.view-all a{float:right;}

.revw_occupt{width:97%;}
.revw_blck_cnt{width:100%;}
.vry_logo {float:none;width:auto;text-align:center;/*margin-top:25px;*/}
.revw_blck_img{display: inline;float:none;width:auto;margin-top:30px;}
.reviewnotverifiedlogo{position:relative;/*top:20px;*/}
.revw_blck_cnt{margin-bottom:10px;}
.revw_blck_cnt h2{text-align:center;font-size:25px;}
.reviewverifiedlogo{position:relative;top:10px;padding:0;}
.pagination{width:92%;padding:0 20px;}
.revw_ratpoint span h5, .revw_ratpoint span a{font-size:11px;padding:0 4px;}
.revw_occupt span{
	font-size: 13px;
}
.revw_date{
	font-size: 13px;
	float:left;
}
.revw_ratpoint{text-align:left;height:auto;}
.cmnt_wrp{display:inline-block;float:none;margin-top:15px;padding-left: 10px;}
.tablecompliant, .user_dashboard{margin-left:20px;}
.usercomment {margin-left: 20px !important;}
.pr_rwrp,.verified_wrp{float:none;display:inline-block;text-align:center;margin:0 auto;}
.pr_detlwrp{width:100%;margin:0 auto; display: block;float:none;}
.pr_testmnl_wrp,.addcmnt_wrp,.testmnl_clntwrp,.titl_pr_rel,.pr_rwrp{width:100%;}
.compny_name{width:100%;}
.vry_btn{margin:0 auto;}
.vry_logo{float:none;width:auto;}
.testmnl_p{margin:0;float:left;}
.titl_pr_rel h1{font-size:25px;}
.cmnt_mainwrp h2 {font-size:15px !important;}
.cmnts_mainwrp h2 {font-size:15px !important;}
.txrareawrp{width:100%;}
.rvw_fillwrp,.head_sb_rvw{width:auto;}
.rvw_fillwrp h3{font-size:20px;}

.serch_result h1{width:auto;}
.verified_wrp.srch_rslt_vrfy.vfy_rvw > div{display:inline-block;}
.cpyynme{margin-bottom:0 !important;}
.verified_wrp.srch_rslt_vrfy .compny_name h2{text-align:left;width:400px;font-size:25px;}
.verified_wrp.srch_rslt_vrfy{width:130px;}
.bdsrch_wrp{width:100%;}
.bdsrch_wrp h2{float:none;display:inline-block;}
.bd_srchwrp{width:65%;}
.bd_srchwrp input.bdsrch_txtbx[type="text"]{width:auto;}
.main_bd_srchwrp{text-align:center;width:auto;}
.serch_result h1{font-size:25px;}
.verified_wrp a{margin-bottom:10px;}
.srch_rslt_left .vry_logo{margin-top:0 !important;float:left;}
.review_blocks.feed-right, .review_blocks.feed-left{height:auto;}
.p_realese_head{width:auto;}
.coupon_wrap .revw_blck_img{display:block;height:auto;margin:0 auto;text-align:center;}

#frmaddcompany .reg-row:first-child{display: inline-block;}
#frmaddcompany .form-col-2{ }
#streetaddress,#city,#zip,#phone,#aboutcompany{width:225px;}
#state1, #country1{ width:250px; }
.banner_wrp{height:auto;}
.banner_wrp img {display: block; height: auto; margin: 0 auto; width: 100% !important;}

#selstatediv1,#selstatediv{ float:none;margin-left:0;}
#streetaddress1{width:238px;}

span.toggle:before {content: "\f067";}
span.opened:before {content: "\f068";}
.fmenu {display:none;}
span.toggle {cursor:pointer;width:20px;text-align: center;	font-size: 16px;float:right}
span.toggle:before{
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0 !important;
}
.foot_mid_bar,.footer_block ul li.ftitle,.footer_block ul{width:100% !important;}
}
@media only screen and (min-width: 440px) and (max-width: 770px)  {
.headersearch{bottom:30%; font-size:13px;}
.dis_width .reg-row{width:100%;}
.coupon_wrap .revw_blck_cnt {float: right; width: 78%;}
.coupon_wrap .revw_blck_img{display:inline;text-align:left}
.pr_countwrp ul{ width:330px; margin:0 auto;}
}
@media only screen and (min-width: 550px) and (max-width: 770px)  {
.revw_blck{width:96%;}
.reg-row .names {font-size: 20px;}
.dir_rew_wrap .revw_blck_cnt{float: right;width: 78%;}
.dir_rew_wrap .revw_blck_cnt h2{text-align:left;  overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 90%;}
.dir_rew_wrap .revw_blck_img{float: left;margin-right:7px;}

.txt_box_complaint{width:488px;}
.revw_date{
	float:right;
}
.hm_rvw_wrp .home_right { padding: 10px 3px 0 13px;}
.review-slider ul{padding:0 0 0 0px;}
.review-slider li, .review-slider-right li{margin-top:20px !important;}
.container{width:511px;padding:0 20px; }
.headersearch{width:511px;}
.headersearch .bannertext{font-size:13px;}
.regr_lnk,.innr_wrap{width:511px;}
.reg_frm_wrap{float:none;width:auto;}
.reg_txt_box{width:225px;}
#first.footer_block,.main_footer{width:511px; padding:0;margin:0 auto;}
.txrareawrp{width:100%;}
.rvw_fillwrp{width:auto;}
.rvw_fillwrp h3{font-size:20px;}
.review_right div{width:350px;}
.press_srchwrp,.pres_srch_wrp,.main_press_srchwrp{width:auto;}

#frmaddcompany{float:none;width:511px;margin:0 auto;}
#frmaddcompany .form-col-2 label{font-size:25px;}
.business-callout{
	clear: both;
    float: left;
    margin-bottom: 1em;
    margin-top: 1em;
}
.new_usr a{font-size:20px;}
.new_usr{font-size:21px;}

.headersearchbar{width:300px;height:30px;}
.flexslider .headersearch .formBox, .innr_wrap .headersearch .formBox{width:305px;}
.headersearchbtn{font-size: 22px !important;bottom:1.7em;cursor:pointer}
}


@media only screen and (min-width: 440px) and (max-width: 549px)  {

.dir_rew_wrap .revw_blck_cnt{float: right;width: 70%;}
.dir_rew_wrap .revw_blck_cnt h2{text-align:left;  overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 90%;}
.dir_rew_wrap .revw_blck_img{float: left;}
.custom-countwrp1{ margin-left:0px !important;}

.txt_box_complaint{width:363px;}

.rvw_fillwrp .rating_review { clear: both;display: block;width: 130px !important;}

.review-slider ul{padding:0 0 0 0px;}
.hm_rvw_wrp .home_right { padding: 10px 3px 0 13px;}
.hm_rvw_wrp .reptitle,.hm_rvw_wrp .home_mar_line,.hm_rvw_wrp .home_mar_line, .hm_rvw_wrp .review-head{width:75%;}

.container{padding:0 20px;width:95%}
.headersearch{width:411px;}
.revw_blck_cnt h2{font-size:15px !important;}
#first.footer_block,.main_footer{width:411px; padding:0;margin:0 auto;}
.regr_lnk,.innr_wrap{width:411px;}
.reg_frm_wrap{float:none;width:auto;}
.reg_txt_box{width:175px;}
.reg_txt_box-lg{width:363px;}
.reg_txt_box-xsml{margin-left:0;}
.reg-row label{font-size:28px;}
.gdr_male label,.gdr_female label{font-size:14px;}
.srch_rslt_left{width:411px;}
.review_right div{width:290px;}

#frmaddcompany{float:none;width:411px;margin:0 auto;}
#frmaddcompany .form-col-2 label{font-size:25px;}
#frmaddcompany .form-col-1{width:65px;}
#frmaddcompany .form-circle{margin-left:0px;}
.business-callout{
	clear: both;
    float: left;
    margin-bottom: 1em;
    margin-top: 1em;
}

.new_usr a{font-size:15px;}
.new_usr{font-size:18px;}

.headersearchbar{width:250px;height:30px;}
.flexslider .headersearch .formBox, .innr_wrap .headersearch .formBox{width:255px;}
.headersearchbtn{font-size: 22px !important;bottom:1.7em;cursor:pointer}
.headersearch.headertoptext{bottom:55%;margin:0px;}
.headersearch{bottom:20%;}
.headersearch.headerbottomtext{bottom:10%;margin:0px;}
}
@media only screen and (min-width: 600px) and (max-width: 700px)  {
.headersearch{height:20px;}

}
@media only screen and (min-width: 310px) and (max-width: 549px)  {
.pr_testmnl_wrp{display:block;}
.cmnt_wrp.cmnt_1, .cmnt_wrp.cmnt_2 {padding-left:7px;}
.clnt_name span{float:left;}
.revw_blck .revw_blck_cnt .revw_desc {text-align:justify;}
.revw_blck{width:93%;}
.reg-row .names{font-size: 16px;width:86% !important;}
.headersearch .bannertext{font-size:6px;}
#loading{height:10px;float:none;margin:0 auto; position: relative; z-index: 9999999;}
.headersearchbtn, .headersearchbar{margin:0 auto;float:none;}
.formBox{width:auto;}
.main_press_srchwrp{text-align:center;}
.press_srchwrp,.pres_srch_wrp,.main_press_srchwrp{width:auto;}
.press_srchwrp input.press_srch_txtbx[type="text"]{width:280px;}
.p_realese_head{border-bottom:none;height:20px;margin-bottom: 3em;}
.srch_rslt_left .verified_wrp.srch_rslt_vrfy .compny_name h2{font-size:20px !important;width:300px;}
}

@media only screen and (min-width: 310px) and (max-width: 410px)  {
.custom-countwrp1{margin-left:0px;}
/*.addthis_counter{ display:none !important;}*/
}

@media only screen and (min-width: 310px) and (max-width: 439px)  {
.serch_result .notverfiedimg{width:200px;}
.serch_result .clickhere{width:155px;}
.serch_result .contct_dtl {width:75%;}
.serch_result .srch_rslt_left .verified_wrp.srch_rslt_vrfy .compny_name h2 {width:205px;}
.serch_result .cmpn_name {overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}

.resp-tab-content .review_block{width:92%;}

.add-busi-dir a {font-size: 20px;}

#frmcompany .bd_srchwrp #searchcomp {width:auto;}
#frmcompany .bd_srchwrp{width:100%;}

.coupon_wrap .revw_blck_cnt {float: right; width: 72%;margin-top:4px;}
.coupon_wrap .revw_blck_cnt h2{text-align:left;height:auto;line-height:28px;}
.coupon_wrap .revw_blck_img{display:inline;text-align:left}
.coupon_wrap .revw_blck_cnt h2 span{float:left;}

.dir_rew_wrap .revw_blck_cnt{float: right;width: 70%;}
.dir_rew_wrap .revw_blck_cnt h2{text-align:left;  overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 90%;}
.dir_rew_wrap .revw_blck_img{float: left;margin-right: 5px;}
.dir_rew_wrap .reviewverifiedlogo, .dir_rew_wrap .reviewnotverifiedlogo{height:80px;}
.dir_rew_wrap .revw_occupt{width:93%; font-size:13px;}

.txt_box_complaint{width:88%;}
.term_tag {margin-bottom:15px;}
#frmcomment .txrareawrp{width:250px !important;}

.hm_rvw_wrp{width:99% !important;}
.rat_title h2 a {overflow: hidden;text-overflow: ellipsis;}
.hm_rvw_wrp .user-name {margin-bottom: 3px; overflow: hidden;text-overflow: ellipsis; white-space: nowrap; width: 60px;}
.review-head a { display: inline-block; width: 170px !important;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
.review-slider li, .review-slider-right li{margin-top:20px !important;}

.review-slider ul{padding:0 0 0 0px;}
.hm_rvw_wrp .home_right { padding: 10px 3px 0 13px;}
.hm_rvw_wrp .reptitle,.hm_rvw_wrp .home_mar_line,.hm_rvw_wrp .home_mar_line, .hm_rvw_wrp .review-head{width:70%;}
.container{padding:0px;width:95%; }
.bannertext{height:auto;}
.revw_ratpoint span h5{display: block !important;margin-bottom:5px;}
.revw_ratpoint span {line-height:20px;}
.revw_blck_cnt h2{font-size:13px !important;}
.account_option .option{margin:0 0 15px 0px;}
.login_lft{margin-left:5px;}
.txt_box{width:71%;}
#first.footer_block,.main_footer{width:311px; padding:0;margin:0 auto;}
.regr_lnk,.innr_wrap{width:311px;}
.reg-row label{font-size:18px;}
.reg_frm_wrap{float:none;width:auto;}
.reg_txt_box,.reg_txt_box-lg,.reg_txt_box-md, #streetaddress1{width:225px;}
.reg_txt_box-xsml{margin-left:0;}
.pull-right{float:none;}
.pr_countwrp ul li{margin-bottom:10px;margin-right:2px;margin-left:3px;}
.pr_countwrp ul{ width:308px; margin:0 auto;}
.clnt_name{margin-left:4px;}
.pr_countwrp{width:100%;}
.head_sb_rvw h1{font-size:30px;}
.srch_rslt_left{width:100%;}
.verified_wrp.srch_rslt_vrfy .compny_name h2{font-size:20px;}
.serch_result h1{font-size:20px;}
.review_right div{width:200px;}

#frmaddcompany{float:none;width:311px;margin:0 auto;}
#frmaddcompany .form-col-2 label{font-size:20px;}
#frmaddcompany .form-col-2 {margin-top:0;}
#frmaddcompany .form-col-1{width:15%;}
#frmaddcompany .form-circle{margin-left:0px; padding:15px;}
.business-callout .form-col-2{width:268px !important;}
#frmaddcompany .business-callout{
	clear: both;
    float: left;
    margin-bottom: 1em;
    margin-top: 1em;

}
 #streetaddress,#city,#zip,#phone,#aboutcompany{}
 #state1, #country1{ width:231px; }
 .new_usr{float:none;text-align:center;font-size:20px;}

.innr_wrap .new_usr a{font-size:15px; display:block;}

.headersearchbar{width:220px;height:30px;}
.flexslider .headersearch .formBox, .innr_wrap .headersearch .formBox{width:225px;}
.headersearchbtn{font-size: 22px !important;bottom:1.7em;cursor:pointer}
.headersearch{bottom:0%;width:100%;}
}

@media only screen and (min-width: 620px) and (max-width: 1050px)  {
.bannertextcoupon{font-size:35px !important;height:35px;}
.bus_dir_head  h1{height:45px;}
.bus_tag{font-size:30px;}
.headersearch.headertoptext{bottom:75%;margin:0px;}
.headersearch{bottom:40%;}
.headersearch.headerbottomtext{bottom:30%;margin:0px;}
}

@media only screen and (min-width: 620px) and (max-width: 770px)  {
.headersearchbtn{bottom:1.3em;}
.bus_tag{font-size:25px;}
}

@media only screen and (min-width: 310px) and (max-width: 619px)  {
.bannertextcoupon{font-size:18px !important;height:35px;}
.bus_dir_head  h1{height:20px;}
.bus_tag{font-size:17px;}
.headersearchbar{margin-bottom:10px;}
.headersearch.headertoptext{bottom:65%;margin:0px;}
.headersearch{bottom:25%; font-size:13px;height:30px;width:100%;}
.headersearch.headerbottomtext{bottom:7%;margin:0px;}
#search_form .headersearchbar{ height:25px;}
.image_novrf{margin-top:0px !important;}
}
@media only screen and (max-width: 920px) {
.cmnt_block{float:left;}
}
@media only screen and (max-width: 600px) {
.side_banners{display:none;}

}

@media only screen and (min-width: 601px) {
.side_banners{display:block;}
}

