.company_review_tab
{
	background: none repeat scroll 0 0 #39bced;
    padding: 15px;
    position: fixed;
    top: 53%;
    cursor : pointer;
    color: white;
    right : 0;
    transform: rotate(90deg);
    transform-origin: right top;
    -ms-transform: rotate(90deg); 
    -ms-transform-origin: right top;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: right top;
    font-family: myriadpro-regular;
}
#review_popup
{
	font-family: myriadpro-regular;
	display: none;
}
.review_circle
{
	float: left;
	position: relative;
}
.review_correct_circle
{
	border-radius: 50px;
    margin: 18px 0 0 2px;
    position: absolute;
    background : white;
    padding: 2px;
}
.review_correct_circle i
{
	font-size: 10px;
    padding: 2px;
    color : white;
    border-radius: 50px;
    background: #3ABA6F;
}
.review_firstletter
{
	background: #83b6dd;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    text-align : center;
    display: table-cell;
    vertical-align : middle;
    
}
.review_firstletter label
{
	color: white;
    font-size: 20px;
}
.review_username_row span
{
	color : #a2a2a2;
    display: inline-block;
    font-size: 11px;
    margin: 0 0 0 5px;
}
.review_username_row
{
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    margin: 3px 0 0 15px;
    width: 85%;
}
.review_name_tab
{
	float : left;
	color: #3085cc;
}
.review_date_tab
{
	float : right;
	font-weight: normal;
	color : #a2a2a2;
}
.review_rating_tab
{
	clear : both;
	padding : 5px 0 0;
}
.review_username_row p
{
	color : #a2a2a2;
}
.font_size_tab
{
	font-size: 13px!important;
}
.widget_company_name a
{
	color: #599dd2;
    display: inline-block;
    margin: 5px 0 0;
}
.review_tab_bottom
{
	padding : 0 15px;
	overflow : auto;
	height : 359px;

}
.review_tab_top
{
	background : #3085C7;
    color: white;
    font-size: 18px;
    padding : 15px;

   
}
.review_tab_middle
{
	margin: 5px 15px;
}
.single_review
{
	display: inline-block;
    margin: 5px 0 0 10px;
	color : #599DD2;
	vertical-align: super;
}
.review_border_bottom
{
	border-top : 1px solid #e3e3e3;
}
.padding_top_1
{
	padding : 15px 0 0;
}
.review_rates
{
	margin: 25px 0 10px;
	font-weight: normal;
}
.review_ratethis
{
    display: inline-block;
    float: right;
}
.review_ratethis label
{
	font-size: 11px;
    color: #a2a2a2;
    padding: 0 12px 0 0;
}
.review_ratethis a
{
	font-size: 11px;
    padding: 0 12px 0 0;
    color: #a2a2a2;
    text-transform: capitalize;
}
.review_poweredby
{
	color: white;
    font-size: 13px;
    position: absolute;
    top: -17px;
}

.fancybox-overlay
{
	background: rgba(0,0,0,.7)!important;
	overflow:hidden!important;
}
.fancybox-inner, fancybox-wrap
{
	overflow: unset!important;    
}
.fancybox-skin
{
	padding : 0!important;
}
.fancybox-desktop, .fancybox-inner, .popupwidth 
{
	width: 500px!important;
	height: 550px!important;
	border-radius : 0;
	background : #fff;
}
.widget_title
{
	float : left;
	padding: 15px;
    text-align: center;
}
.widget_img
{
	float : right;
	padding: 0 15px 0 0;
}
.clear
{
	clear : both;
}
.review_ratethis span
{
	margin : 0;
}
.widget_share
{
	display: inline-block;
	color: #a2a2a2;
	font-size: 11px;
	margin: 3px 10px 0 0;
	cursor: pointer;
}
.widget_social_link
{
	display: none;
	margin: 0 0 10px;
}
.widget_social_link a, .widget_social_link span
{
	color: #a2a2a2;
    font-size: 11px;
    margin-right: 10px;
}
#scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: white;
}

#scrollbar::-webkit-scrollbar
{
	width: 6px;
}

#scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #3085C7;
}
.widget_close
{
	position : absolute;
	top : 6px;
	right : 9px;
	cursor : pointer;
}
