.company_review_tab
{
	background: none repeat scroll 0 0 #39bced;
    padding: 15px;
    position: fixed;
    top: 53%;
    cursor : pointer;
    color: white;
    transform: rotate(270deg);
    transform-origin: left top;
}
#review_popup
{
	font-family: myriadpro-regular;
	display: none;
}
.review_firstletter
{
	background: #83b6dd;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    text-align : center;
    float: left;
}
.review_firstletter label
{
	color: white;
    display: inline-block;
    font-size: 20px;
    margin: 12px;
}
.review_username_row span
{
	color : #a2a2a2;
    display: inline-block;
    font-size: 11px;
    margin: 0 0 0 5px;
}
.review_username_row
{
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    margin: 3px 0 0 15px;
    width: 85%;
}
.review_name_tab
{
	float : left;
	color: #3085cc;
}
.review_date_tab
{
	float : right;
	font-weight: normal;
}
.review_rating_tab
{
	clear : both;
	padding : 5px 0 0;
}
.review_username_row p
{
	color : #a2a2a2;
}
.font_size_tab
{
	font-size: 13px!important;
}
.review_tab_bottom
{
	padding : 15px;
	overflow : auto;
	height : 420px;
	display: inline-block;
}
.review_tab_top
{
	background : #3085C7;
    color: white;
    font-size: 18px;
    display: inline-block;
}
.review_border_bottom
{
	border-top : 1px solid #e3e3e3;
}
.padding_top_1
{
	padding : 15px 0 0;
}
.review_rates
{
	margin : 5px 0;
	display: inline-block;
}
.review_ratethis label
{
	font-size: 11px;
    font-weight: bold;
    padding: 0 15px 0 0;
}
.review_ratethis a
{
	font-size: 11px;
    padding: 0 15px 0 0;
}
.review_poweredby
{
	background: rgba(0,0,0,.7)!important;
	color : white;
	font-size: 13px;
}
.fancybox-overlay
{
	background: rgba(0,0,0,.7)!important;
}
.fancybox-inner, fancybox-wrap
{
	overflow: unset!important;    
}
.fancybox-skin
{
	padding : 0!important;
}
.fancybox-desktop, .fancybox-inner, .popupwidth 
{
	width: 450px!important;
	height: 550px!important;
}
.widget_title
{
	float : left;
}
.widget_img
{
	float : right;
}
