uploads/*
logs/*
robots.txt
application/cache/*
application/logs/*
application/catalog/config/database.php
application/admincp/config/database.php
application/businessadmin/config/database.php


bestratedseller.com/uploads/*
bestratedseller.com/logs/*
bestratedseller.com/application/cache/*
bestratedseller.com/application/logs/*
bestratedseller.com/application/catalog/config/database.php


topsellerratings.com/uploads/*
topsellerratings.com/logs/*
topsellerratings.com/application/cache/*
topsellerratings.com/application/logs/*
topsellerratings.com/application/catalog/config/database.php


business-reports-online.com/uploads/*
business-reports-online.com/logs/*
business-reports-online.com/application/cache/*
business-reports-online.com/application/logs/*
business-reports-online.com/application/catalog/config/database.php


consumer-magazine-ratings.com/uploads/*
consumer-magazine-ratings.com/logs/*
consumer-magazine-ratings.com/application/cache/*
consumer-magazine-ratings.com/application/logs/*
consumer-magazine-ratings.com/application/catalog/config/database.php


consumer-trusted-magazine.com/uploads/*
consumer-trusted-magazine.com/logs/*
consumer-trusted-magazine.com/application/cache/*
consumer-trusted-magazine.com/application/logs/*
consumer-trusted-magazine.com/application/catalog/config/database.php

customer-feedback-central.com/uploads/*
customer-feedback-central.com/logs/*
customer-feedback-central.com/application/cache/*
customer-feedback-central.com/application/logs/*
customer-feedback-central.com/application/catalog/config/database.php


merchant-informer.com/uploads/*
merchant-informer.com/logs/*
merchant-informer.com/application/cache/*
merchant-informer.com/application/logs/*
merchant-informer.com/application/catalog/config/database.php


safe-merchants.com/uploads/*
safe-merchants.com/logs/*
safe-merchants.com/application/cache/*
safe-merchants.com/application/logs/*
safe-merchants.com/application/catalog/config/database.php


safe-online-shopper.com/uploads/*
safe-online-shopper.com/logs/*
safe-online-shopper.com/application/cache/*
safe-online-shopper.com/application/logs/*
safe-online-shopper.com/application/catalog/config/database.php


seller-ratings.com/uploads/*
seller-ratings.com/logs/*
seller-ratings.com/application/cache/*
seller-ratings.com/application/logs/*
seller-ratings.com/application/catalog/config/database.php


trusted-consumer-reports.com/uploads/*
trusted-consumer-reports.com/logs/*
trusted-consumer-reports.com/application/cache/*
trusted-consumer-reports.com/application/logs/*
trusted-consumer-reports.com/application/catalog/config/database.php


trusted-online-merchants.com/uploads/*
trusted-online-merchants.com/logs/*
trusted-online-merchants.com/application/cache/*
trusted-online-merchants.com/application/logs/*
trusted-online-merchants.com/application/catalog/config/database.php


verified-online-merchants.com/uploads/*
verified-online-merchants.com/logs/*
verified-online-merchants.com/application/cache/*
verified-online-merchants.com/application/logs/*
verified-online-merchants.com/application/catalog/config/database.php


verified-trusted-merchants.com/uploads/*
verified-trusted-merchants.com/logs/*
verified-trusted-merchants.com/application/cache/*
verified-trusted-merchants.com/application/logs/*
verified-trusted-merchants.com/application/catalog/config/database.php


your-business-report.com/uploads/*
your-business-report.com/logs/*
your-business-report.com/application/cache/*
your-business-report.com/application/logs/*
your-business-report.com/application/catalog/config/database.php

