<IfModule mod_rewrite.c>

	RewriteEngine On

	RewriteBase /

	# force HTTPS
	RewriteCond %{HTTPS} =off
	RewriteCond %{REQUEST_URI} (solution\/claimbusiness|solution\/renew|businessadmin\/elite\/update)
	RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

	# force HTTP
	RewriteCond %{HTTPS} =on
	RewriteCond %{REQUEST_URI} !(solution\/claimbusiness|solution\/renew|businessadmin\/elite\/update|css|img|js|font)
	RewriteRule .* http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule .* index.php/$0 [L]

	# GZIP compression

	SetOutputFilter DEFLATE

	BrowserMatch ^Mozilla/4 gzip-only-text/html

	BrowserMatch ^Mozilla/4\.0[678] no-gzip

	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

	SetEnvIfNoCase Request_URI \.(?:ico|gif|jpe?g|png)$ no-gzip dont-vary

	FileETag None



	# Cookieless Static Content



	<FilesMatch "\.(js|css|eot|ico|ttf|svg|woff)$">

	Header unset ETag

	Header unset Cookie	

	Header unset Set-Cookie

	</FilesMatch>



	# Caching

	ExpiresActive On

	ExpiresDefault A0

	

	ExpiresByType image/gif "access plus 1 month"

	ExpiresByType image/png "access plus 1 month"

	ExpiresByType image/jpg "access plus 1 month"

	ExpiresByType image/jpeg "access plus 1 month"

	ExpiresByType image/x-icon "access plus 1 month"

	ExpiresByType text/css "access plus 1 month"

	ExpiresByType text/javascript "access plus 1 month"

	ExpiresByType application/javascript "access plus 1 month"

	ExpiresByType application/x-shockwave-flash "access plus 1 month"

	



	# compress text, HTML, JavaScript, CSS, and XML



	AddOutputFilterByType DEFLATE text/plain

	AddOutputFilterByType DEFLATE text/html

	AddOutputFilterByType DEFLATE text/xml

	AddOutputFilterByType DEFLATE text/css

	AddOutputFilterByType DEFLATE application/xml

	AddOutputFilterByType DEFLATE application/xhtml+xml

	AddOutputFilterByType DEFLATE application/rss+xml

	AddOutputFilterByType DEFLATE application/javascript

	AddOutputFilterByType DEFLATE application/x-javascript

        

	#Removes access to the system folder by users.

	#Additionally this will allow you to create a System.php controller,

	#previously this would not have been possible.

	#'system' can be replaced if you have renamed your system folder.

	RewriteCond %{REQUEST_URI} ^system.*

	RewriteRule ^(.*)$ /index.php?/$1 [L]

	

	#When your application folder isn't in the system folder

	#This snippet prevents user access to the application folder

	#Submitted by: Fabdrol

	#Rename 'application' to your applications folder name.

	RewriteCond %{REQUEST_URI} ^application.*

	RewriteRule ^(.*)$ /index.php?/$1 [L]



	#Checks to see if the user is attempting to access a valid file,

	#such as an image or css document, if this isn't true it sends the

	#request to index.php

	RewriteCond %{REQUEST_FILENAME} !-f

	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule ^(.*)$ /index.php?/$1 [L]

	

</IfModule>



<IfModule !mod_rewrite.c>

	# If we don't have mod_rewrite installed, all 404's

	# can be sent to index.php, and everything works as normal.

	# Submitted by: ElliotHaughin



	ErrorDocument 404 /index.php

</IfModule>
